th, td {
    text-align:center;
    padding:5px;
    width:90vh;
}

.AddEmployeeWrapper{
    position: absolute;
    width: 75%;
    margin: auto;
    justify-content: center;
    background: aquamarine;
    margin: auto;
    right: 0;
    left: 0;
 
}
.AddEmployeeOuterWrapper{
  top: 0;
  left: 0;
}
.modalfixing { /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-contentValue {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .modalbody{
    overflow-y: scroll;
    padding: 8px 16px;
    overflow-x: hidden;
    height: 75%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }